---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";

const identity = {
  firstName: "DJ",
  country: "Philippines",
  occupation: "Professionally Unemployed",
  hobbies: [
    "Collecting gaming mice",
    "Building Mechanical Keyboards",
    "Gaming",
  ],
};

const skills = [
  "HTML",
  "CSS :kekw:",
  "JavaScript",
  "React",
  "Astro",
  "Writing Docs",
];
---

<BaseLayout>
  <article class="prose dark:prose-invert">
    <h1>{pageTitle}</h1>
    <h2>... and this crappy blog!</h2>

    <p>
      This blog came into existence because I got hired for a front-end
      developer role. I needed to brush up my react skills... Then I went to
      build this blog on Astro... which is not even React 😂 😂
    </p>
    <p>
      This site will update as I complete more of the tutorial, so keep checking
      back and see how my journey is going!
    </p>

    <p>Here are a few facts about me:</p>
    <ul>
      <li>My name is {identity.firstName}.</li>
      <li>
        I live in {identity.country} and I work as a {identity.occupation}.
      </li>
      {
        identity.hobbies.length >= 2 && (
          <li>
            Two of my hobbies are: {identity.hobbies[0]} and{" "}
            {identity.hobbies[1]}
          </li>
        )
      }
    </ul>
    <p>My skills are:</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
  </article>
</BaseLayout>
